<ng-template #content let-tile>
    <!--<ngx-charts-bar-vertical *ngFor="let series of seriesList" [results]="series.records$ | async" legend="true"
        xAxis="true" yAxis="true" showXAxisLabel="true" showYAxisLabel="true" [xAxisLabel]="series.label"
        yAxisLabel="Count" class="chart">
    </ngx-charts-bar-vertical>-->
    <ngx-charts-pie-chart *ngFor="let series of seriesList" [results]="series.records$ | async" legend="true"
        labels="true" class="chart">
    </ngx-charts-pie-chart>
    <div class="chart-fab">
        <button mat-mini-fab color="accent" (click)="tile.customize()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</ng-template>