:host {
    position: relative;
    height: 260px;
}
.tile-collection-wrapper {
    display: flex;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.tile-collection {
    display: grid; 
    grid-auto-flow: column;
    grid-gap: 1em;
    padding: 1em;
}
.tile-left {
    left: 1em;
}
.tile-right {
    right: 1em;
}
.tile-left, .tile-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}