@import "../../../global";

.tile-fab {
    position: absolute;
    right: 14px;
    bottom: 14px;
    z-index: 10;
}

/* trent.html */
.chart {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.chart-icon-large {
    font-size: 56px;
    width: 56px;
    height: 56px;
}
.chart-kpi {
    padding: 20px;
    font-size: 48px;
}
.chart-kpi-secondary {
    color: rgba($color-main-text, 0.5)
}
.chart-kpi-description {
    font-size: 16px;
    text-align: left
}
.chart-trend {
    cursor: pointer;
}
.chart-trend * {
    pointer-events: none;
    user-select: none;
}
.chart-positive {
    color: $color-ok
}
.chart-negative {
    color: $color-warn
}