<lib-dashboard title="Dashboard" class="dashboard-gap-small">
    <lib-dashboard-tile title="Accounts">
        <lib-tile-collection path="accounts">
            <span *libTileCollectionTemplate="let account">Account: {{account.name}}</span>
        </lib-tile-collection>
    </lib-dashboard-tile>
    <lib-dashboard-section class="dashboard-col-9">
        <lib-tile-user>
            <div class="hbox" *libTileUserTemplate="let user">
                <div class="vbox primary">
                    <span class="mat-body">{{current | async | amDateFormat:'LL'}}</span>
                    <span class="no-margin mat-display-4">{{current | async | amDateFormat:'HH:mm'}}</span>
                    <span class="mat-body">{{current | async | amDateFormat:'dddd'}}</span>
                </div>
                <div class="vbox spacer">
                    <span class="template-title mat-headline primary">{{greetings}},
                        <strong>{{user.displayName}}!</strong></span>
                    <div class="hbox">
                        <button mat-raised-button color="accent" (click)="createCollaboration()">Start</button>
                    </div>
                </div>
            </div>
        </lib-tile-user>
        <lib-tile-collection path="collaborations">
            <mat-card *libTileCollectionTemplate="let collaboration" class="template-card">
                <mat-card-header>
                    <mat-icon mat-card-avatar class="template-card-icon">question_answer</mat-icon>
                    <mat-card-title>
                        <a class="template-link" (click)="openCollaboration(collaboration.id)">{{collaboration.name}}</a>
                    </mat-card-title>
                    <mat-card-subtitle>12 minutes ago</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="template-card-content">
                    The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of the six
                    original. The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of
                    the six original. The Shiba Inu is the smallest of the six original. The Shiba Inu is the
                    smallest of the six original.
                    The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of the six
                    original. The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of
                    the six original. The Shiba Inu is the smallest of the six original. The Shiba Inu is the
                    smallest of the six original.
                    The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of the six
                    original. The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of
                    the six original. The Shiba Inu is the smallest of the six original. The Shiba Inu is the
                    smallest of the six original.
                </mat-card-content>
                <mat-card-actions class="template-card-actions">
                    <span class="spacer"></span>
                    <button mat-icon-button class="gold">
                        <mat-icon>star</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </lib-tile-collection>
    </lib-dashboard-section>
    <lib-dashboard-section class="dashboard-col-3">
        <lib-tile-list>
            <a mat-list-item *libTileListTemplate="let link" (click)="openInNewTab([link.path])">{{link.path}}</a>
        </lib-tile-list>
    </lib-dashboard-section>
</lib-dashboard>