.template-title {
    border-bottom: 1px solid lightgray;
}
.template-card {
    max-width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.template-card-content {
    flex: 1 1 auto;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.template-card-icon {
    font-size: 40px;
}
.template-card-actions {
    display: flex;
    flex-direction: row;
}