<lib-dashboard title="Test Dashboard">
    <lib-dashboard-tile title="Red">
        <span style="background-color: red;">Red</span>
    </lib-dashboard-tile>
    <lib-dashboard-tile title="Blue">
        <span style="background-color: blue;">Blue</span>
    </lib-dashboard-tile>
    <lib-dashboard-tile title="Green">
        <span style="background-color: green;">Green</span>
    </lib-dashboard-tile>
    <lib-dashboard-tile title="Welcome">
        <lib-tile-user>
            <span *libTileUserTemplate="let user" class="mat-display-2">Welcome {{user.displayName}}</span>
        </lib-tile-user>
    </lib-dashboard-tile>
    <lib-dashboard-tile title="Accounts">
        <lib-tile-collection path="accounts">
            <span *libTileCollectionTemplate="let account">Account: {{account.name}}</span>
        </lib-tile-collection>
    </lib-dashboard-tile>
    <lib-dashboard-section class="dashboard-col-9">
        <span>&nbsp;</span>
    </lib-dashboard-section>
    <lib-dashboard-section class="dashboard-col-3">
        <span>&nbsp;</span>
    </lib-dashboard-section>
</lib-dashboard>