@import "../../../global";

:host {
    flex: 1 1 auto;
    display: flex;
}
.collaboration-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.status-list {
    display: flex;
    flex-direction: row;
    line-height: 64px;
    margin: 0;
}
.status-list span {
    margin-right: 40px;
}
.action-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action-list button:not(:last-child) {
    color: $color-primary;
    margin-right: 8px;
}