<lib-page-section>
  <lib-page-section-toolbar>
    <div class="toolbar-button-main secondary-bgcolor">
      <button mat-fab color="accent" (click)="addMember()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </lib-page-section-toolbar>
  <lib-page-section-content>
    <mat-table [dataSource]="members$">
      <!-- Name Column -->
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.user?.displayName}}</mat-cell>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.user?.email}}</mat-cell>
      </ng-container>
      <!-- Roles Column -->
      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef>Roles</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let role of element.roles">
              {{role}}
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <!-- Tags Column -->
      <ng-container matColumnDef="tags">
        <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of element.tags">
              {{tag}}
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editMember(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="removeMember(element)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </lib-page-section-content>
</lib-page-section>