<mat-toolbar color="primary">
    <button mat-icon-button (click)="panel.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
</mat-toolbar>
<mat-sidenav-container class="dashboard-container" autosize>
    <mat-sidenav #panel class="dashboard-panel" mode="side">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Tiles </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-list>
                    <button mat-list-item libDashboardTileItem [tileHeader]="tileHdr"
                        *ngFor="let tileHdr of tileHeaders"> {{tileHdr.title}} </button>
                </mat-action-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <div class="dashboard-content">
        <ng-content select="lib-dashboard-section"></ng-content>
    </div>
</mat-sidenav-container>