:host {
    position: relative;
    flex: 1 0 auto;
    display: flex;
}
lib-grid {
    flex: 1 1 auto;
}
.grid-item {
    flex: 1 1 auto;
    margin: 10px;
    align-self: stretch;
    justify-self: stretch;
}