<lib-flexible-page>
  <!--title="{{collaboration?.name}}" subTitle="{{collaboration?.description}}">-->
  <lib-page-header class="collaboration-header">
    <div *ngIf="statusValues$" class="status-list mat-subheading-2">
      <span *ngFor="let statusVal of statusValues$ | async">
        {{statusVal.description}}: {{statusVal.value}}
      </span>
    </div>
    <div *ngIf="actions.length > 0" class="action-list">
      <button mat-raised-button *ngFor="let action of actions" (click)="completeAction(action)">{{action.name}}</button>
    </div>
  </lib-page-header>
  <lib-flexible-page-section title="Members">
    <app-comp-table [collaborationId]="collaborationId" [reader]="memberReader" [mapper]="memberMapper"
      [fields]="Fields_Members" [actions]="Actions_Members" [handler]="memberHandler">
    </app-comp-table>
  </lib-flexible-page-section>
  <lib-flexible-page-section title="Posts">
    <app-comp-table [collaborationId]="collaborationId" path="posts" [mapper]="postMapper" [fields]="Fields_Posts">
    </app-comp-table>
  </lib-flexible-page-section>
  <lib-flexible-page-section title="Documents" (action)="table.onAction($event)">
    <app-comp-table #table [collaborationId]="collaborationId" path="documents" [mapper]="documentMapper"
      [fields]="Fields_Documents">
    </app-comp-table>
    <lib-flexible-section-fab action="addFile" icon="add"></lib-flexible-section-fab>
  </lib-flexible-page-section>
</lib-flexible-page>
<!--[path]="{path: 'members', joinScope: 'R', join: {id: 'users'}}" [mapper]="memberMapper"-->