<lib-flexible-page title="{{collaboration?.name}}" subTitle="{{collaboration?.description}}"
  [(containers)]="containers">
  <lib-page-header class="collaboration-header">
    <div *ngIf="statusValues$" class="status-list mat-subheading-2">
      <span *ngFor="let statusVal of statusValues$ | async">
        {{statusVal.description}}: {{statusVal.value}}
      </span>
    </div>
    <div *ngIf="actions.length > 0" class="action-list">
      <button mat-raised-button *ngFor="let action of actions" (click)="completeAction(action)">{{action.name}}</button>
    </div>
  </lib-page-header>
  <!--Members-->
  <!--[path]="{path: 'members', joinScope: 'R', join: {id: 'users'}}" [mapper]="memberMapper"-->
  <lib-flexible-page-section id="members" icon="person" title="Members" [context]="{objTypePath: 'memberTypes'}"
    (action)="table.onAction($event)">
    <ng-template #content let-context>
      <app-comp-table #table [collaborationId]="collaborationId" [context]="context" fabIcon="add"
        [reader]="memberReader" [mapper]="memberMapper" [fields]="Fields_Members" [actions]="Actions_Members"
        [handler]="memberHandler">
      </app-comp-table>
    </ng-template>
  </lib-flexible-page-section>
  <!--Posts-->
  <lib-flexible-page-section id="posts" icon="comment" title="Posts" [context]="{objTypePath: 'postTypes'}">
    <ng-template #content let-context>
      <app-comp-list #list [collaborationId]="collaborationId" [context]="context" path="posts" [mapper]="postMapper"
        [handler]="postHandler" class="spacer">
        <div *appComponentListTemplate="let post" [ngClass]="post.postedBySelf ? 'post-entry-self':'post-entry-other'">
          <p>{{post.text}}</p>
          <p class="post-time">{{post.createdOn.toDate() | amTimeAgo}}</p> <!-- https://github.com/urish/ngx-moment -->
        </div>
      </app-comp-list>
      <div class="section-bar">
        <div class="spacer row">
          <mat-form-field appearance="outline" class="spacer no-hint">
            <input #text matInput placeholder="Enter message" />
            <mat-icon matSuffix (click)="list.onAction('editor'); text.value = ''" class="cursor">open_in_new</mat-icon>
          </mat-form-field>
          <div class="post-input-send">
            <button mat-stroked-button color="primary">
              <mat-icon (click)="list.onAction('send', text.value)">send</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </lib-flexible-page-section>
  <!--Documents-->
  <lib-flexible-page-section id="documents" icon="insert_drive_file" title="Documents"
    [context]="{objTypePath: 'documentTypes'}">
    <ng-template #content let-context>
      <app-comp-doc #table [collaborationId]="collaborationId" [context]="context" path="documents"
        [mapper]="documentMapper" [fields]="Fields_Documents" [handler]="documentHandler">
      </app-comp-doc>
      <lib-flexible-section-action action="addFolder" icon="create_new_folder"></lib-flexible-section-action>
    </ng-template>
  </lib-flexible-page-section>
</lib-flexible-page>