<lib-page-tree>
    <lib-page-node title="Collaboration Types">
        <lib-page-node-view>
            <cfg-list path="collaborationTypes" [fields]="{name: 'Name', description: 'Description'}">
            </cfg-list>
            <!--<cfg-form path="collaborationTypes" [fields]="{name: 'Name', description: 'Description'}">
            </cfg-form>-->
        </lib-page-node-view>
        <lib-page-node title="Case Models">
            <lib-page-node-view>
                <cfg-list path="caseModels" [fields]="{name: 'Name', description: 'Description'}">
                </cfg-list>
            </lib-page-node-view>
        </lib-page-node>
    </lib-page-node>
</lib-page-tree>