<lib-page>
  <lib-page-title>Page Title</lib-page-title>
  <lib-page-sub-title>Sub Title</lib-page-sub-title>
  <lib-page-section title="Section I">
    <lib-page-section-toolbar>
      <button>Hello I</button>
    </lib-page-section-toolbar>
    <lib-page-section-content>
      <span>Section Contents First</span>
    </lib-page-section-content>
  </lib-page-section>
  <lib-page-section title="Section II">
    <lib-page-section-toolbar>
      <button>Hello II</button>
    </lib-page-section-toolbar>
    <lib-page-section-content>
      <span>Section Contents Second</span>
    </lib-page-section-content>
  </lib-page-section>
</lib-page>