:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.list-button-main {
    position: absolute;
    top: -28px;
    right: 28px;
    z-index: 2;
}
.list-item-link {
    cursor: pointer;
}