<div class="panel-header">
  <div class="vbox panel-drag-handle">
    <mat-icon class="panel-header-icon">{{icon}}</mat-icon>
  </div>
  <div class="spacer vbox panel-drag-handle">
    <span class="mat-title no-margin">{{title}}</span>
    <span class="mat-caption no-margin">{{description}}</span>
  </div>
  <button mat-icon-button (click)="toggleExpanded()">
    <mat-icon>{{_expanderIcon}}</mat-icon>
  </button>
</div>
<div *ngIf="_expanded" class="spacer vbox anchor">
  <div [libDropArea]="droppable" (dropped)="onDropped($event)" class="spacer vbox">
    <ng-container #contentContainer></ng-container>
  </div>
</div>