<div class="panel-header">
  <div class="vbox">
    <mat-icon class="panel-header-icon">{{icon}}</mat-icon>
  </div>
  <div class="spacer vbox">
    <span class="mat-title no-margin">{{title}}</span>
    <span class="mat-caption no-margin">{{description}}</span>
  </div>
  <button mat-icon-button (click)="toggleExpanded()">
    <mat-icon>{{_expanderIcon}}</mat-icon>
  </button>
</div>
<div *ngIf="_expanded" class="spacer vbox anchor">
  <div *ngIf="fabIcon" class="panel-fab">
    <button mat-fab color="accent" (click)="onFab()">
      <mat-icon>{{fabIcon}}</mat-icon>
    </button>
  </div>
  <div [libDropArea]="droppable" (dropped)="onDropped($event)" class="spacer vbox">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
  <div class="panel-header">
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </div>
</div>