@import "../../global";

.page-content2 {
    flex: 1 1 auto;
}
.page-floating-button {
    position: absolute;
    right: 32px;
    bottom: 32px;
}
.page-section2-container-header {
    user-select: none;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
}
.page-section2-container {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
}
.page-section2-container-edit {
    padding: 8px;
    background: $color-secondary;
}
.page-section2-container-run {
    padding: 0px;
    background: none;
}
.page-section2-fab {
    position: absolute;
    right: 28px;
    top: 60px;
    z-index: 2;
}