@import "../../global";

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
}
.page-spacer {
    flex: 1 1 auto;
}
.page-header-bg {
    position: absolute;
    background-color: $color-primary;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 128px;
}
.page-sidebar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 5;
    height: 100%;
}
.page-sidebar-visible {
    display: flex;
}
.page-sidebar-invisible {
    display: none;
}
.page-leftbar {
    flex-direction: column;
    width: 208px;
    min-width: 208px;
    max-width: 208px;
}
.page-rightbar {
    flex-direction: column;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
}
.page-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 128px;
    color: $color-primary-text;
}
.page-sidebar-header span {
    margin-bottom: 0;
    flex: 1 1 auto;
}
.page-sidebar-content {
    flex: 1 1 auto;
    position: relative;
}
.page {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}
.page-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 64px;
    color: $color-primary-text;
}
.page-header-inner {
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 8px 8px 0 0;
    background-color: $color-main;
}
.page-toolbar {
    position: relative;
    height: 64px;
    border-radius: 8px 8px 0 0;
}
/deep/ .page-list mat-table {
    background: none;
}
/deep/ .page-list mat-header-row {
    border-radius: 8px 8px 0 0;
    background-color: $color-secondary;
    height: 64px;
}

.page-header-tabs {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: $color-primary-text;
    padding-right: 24px;
    position: absolute;
    z-index: 1;
    user-select: none;
}
.page-header-tabs .tab {
    width: 104px;
    height: 64px;
    position: relative;
    cursor: pointer;
}
.page-header-tabs .inner {
    width: 104px;
    height: 64px;
    text-align: center;
    position: absolute;
    top: 0px;
    transition: top 0.5s;
    transition-delay: 1s;
}
.page-header-tabs span {
    display: none;
    margin: 0;
}
.page-header-tabs mat-icon {
    margin: 0 24px 0 24px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 28px;
    transition: background-color 0.5s, color 0.5s;
    transition-delay: 0s;
}
.page-header-tabs svg {
    fill: $color-primary;
    position: absolute;
    height: 32px;
    bottom: 0px;
    z-index: -1;
}
.page-header-tabs svg.left {
    left: 0px;
}
.page-header-tabs svg.right {
    right: 0px;
}
.page-header-tabs .active .inner {
    height: 88px;
    top: 8px;
}
.page-header-tabs .active span {
    display: inline-block;
    transition: display 0.25s;
    transition-delay: 1.5s;
}
.page-header-tabs .active mat-icon {
    background-color: $color-secondary;
    color: $color-primary;
}

.page-sidebar-tabs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -32px;
}
.page-sidebar-tabs .header {
    align-self: stretch;
    padding: 15px;
}
.page-sidebar-tabs .header button {
    width: 100%;
}
.page-sidebar-tabs .tab {
    position: relative;
    width: 128px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.page-sidebar-tabs .tab mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
}
.page-sidebar-tabs .tab:hover::before,.active::before {
    content: "";
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: solid $color-primary 5px;
}
.page-sidebar-tabs .tab:hover,.active {
    color: $color-primary;
}