@import "../../global";

.page-content2 {
    flex: 1 1 auto;
}
.page-floating-button {
    position: absolute;
    right: 32px;
    bottom: 32px;
}
.panel-section-header2 {
    user-select: none;
    cursor: pointer;
    background: $color-secondary;
}
.page-section2 {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    padding: 0;
}
.page-section2-fab {
    position: absolute;
    right: 28px;
    top: 60px;
    z-index: 2;
}