@import "../../global";

.page-content2 {
    flex: 1 1 auto;
    display: flex;
}
.page-floating-button {
    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 5;
}
mat-sidenav-content {
    position: relative;
    overflow: auto;
}
.page-grid-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.page-section2-container-header {
    user-select: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
}
.page-section2-container {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.page-section2-container-inner {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.page-section2-container-inner lib-panel {
    margin-bottom: 16px;
}
.page-section2-container-inner lib-panel:last-child {
    margin-bottom: 0;
}
.page-section2-container-edit {
    grid-template-rows: 32px;
    padding: 8px;
    background: rgba($color-secondary, 0.5);
}
.page-section2-container-run {
    padding: 0px;
    background: none;
}
.page-section2-fab {
    position: absolute;
    right: 28px;
    top: 60px;
    z-index: 2;
}