<div class="page-header-bg">
</div>
<div class="page-sidebar-container">
  <div class="page-leftbar">
    <div class="page-sidebar-header">
      <!--Sidebar header here-->
      <ng-content select="lib-page-sidebar-header"></ng-content>
    </div>
    <div class="page-sidebar-content">
      <!--Sidebar content here-->
      <ng-content select="lib-page-sidebar-content"></ng-content>
    </div>
  </div>
  <div class="page-sidebar-content page">
    <div class="page-header">
      <!--Page header here-->
      <ng-content select="lib-page-header"></ng-content>
    </div>
    <div class="page-content mat-elevation-z4 page-list">
      <!--Page content here-->
      <ng-content select="lib-page-content"></ng-content>
    </div>
  </div>
</div>