<div class="page-header-bg">
</div>
<div class="page-sidebar-container">
  <div class="page-sidebar-content page">
    <div class="page-header">
      <!--Application Header Here-->
      <ng-content select="lib-page-header"></ng-content>
    </div>
    <div #bounds class="page-content2">
      <!--Sections Rendered Here-->
      <ngx-gridster [options]="gridsterOptions" [draggableOptions]="{ handlerClass: 'panel-section-header2' }">
        <ngx-gridster-item *ngFor="let section of sectionInstances" [(x)]="section.x" [(y)]="section.y"
          [(w)]="section.w" [(h)]="section.h">
          <div class="page-section2-container">
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{section.definition.title}}
              </mat-panel-title>
              <mat-panel-description>
                {{section.definition.title}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="section.definition.fab" class="page-section2-fab">
              <button mat-fab color="accent" (click)="section.definition.onAction(section.definition.fab.action)">
                <mat-icon>{{section.definition.fab.icon}}</mat-icon>
              </button>
            </div>
            <ng-container *ngTemplateOutlet="section.definition.content"></ng-container>
            <mat-action-row>
              <button *ngFor="let action of section.definition.actions" mat-button
                (click)="section.definition.onAction(action.action)">
                <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          </div>
        </ngx-gridster-item>
      </ngx-gridster>
      <div class="page-floating-button">
        <!--Floating Buttons Here-->
        <button mat-fab color="accent" (click)="customize()">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>