:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.page-spacer {
    flex: 1 1 auto;
}
.page-header-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 216px;
    min-height: 216px;
    max-height: 216px;
}
.page-sidebar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 5;
    height: 100%;
}
.page-sidebar-visible {
    display: flex;
}
.page-sidebar-invisible {
    display: none;
}
.page-leftbar {
    flex-direction: column;
    width: 208px;
    min-width: 208px;
    max-width: 208px;
}
.page-rightbar {
    flex-direction: column;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
}
.page-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 216px;
    min-height: 216px;
    max-height: 216px;
}
.page-sidebar-content {
    flex: 1 1 auto;
}
.page {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}
.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 152px;
    min-height: 152px;
    max-height: 152px;
}
.page-header-inner {
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.page-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 8px 8px 0 0;
}
.page-toolbar {
    position: relative;
    height: 64px;
    border-radius: 8px 8px 0 0;
}