<div class="page-header-bg">
</div>
<div class="page-sidebar-container">
  <div class="page-sidebar-content page">
    <div class="page-header">
      <!--Application Header Here-->
      <ng-content select="lib-page-header"></ng-content>
    </div>
    <div #bounds class="page-content2">
      <mat-sidenav-container class="spacer no-background" autosize hasBackdrop="false">
        <mat-sidenav-content>
          <div class="page-grid-container">
            <div class="page-grid-container-inner">
              <!--Grid assembly here-->
              <ngx-gridster [options]="gridsterOptions"
                [draggableOptions]="{ handlerClass: 'page-section2-container-header' }">
                <ngx-gridster-item *ngFor="let container of sectionContainers" [(x)]="container.x" [(y)]="container.y"
                  [(w)]="container.width" [(h)]="container.height">
                  <div
                    [ngClass]="{'page-section2-container': true, 'page-section2-container-edit': this.isEditMode, 'page-section2-container-run': !this.isEditMode}">
                    <div *ngIf="isEditMode" class="page-section2-container-header mat-typography">
                      {{container.label}}
                    </div>
                    <lib-panel *ngFor="let instance of container.instances" [icon]="instance.definition.icon"
                      [title]="instance.title" [description]="instance.description"
                      [fabIcon]="instance.definition.fabIcon" (fabClick)="instance.definition.onAction('fab')"
                      [droppable]="instance.definition.droppable" (droppped)="instance.definition.onDrop('drop', $event)">
                      <!--Start: We will use static elements and for dynamic we use createEmbeddedView or Context parameter-->
                      <ng-template #content>
                        <ng-container *ngTemplateOutlet="instance.definition.content"></ng-container>
                      </ng-template>
                      <ng-template #footer>
                        <button *ngFor="let action of instance.definition.actions" mat-button
                          (click)="instance.definition.onAction(action.action)">
                          <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
                        </button>
                        <ng-container *ngTemplateOutlet="instance.definition.footer"></ng-container>
                      </ng-template>
                      <!--End-->
                    </lib-panel>
                  </div>
                </ngx-gridster-item>
              </ngx-gridster>
            </div>
          </div>
        </mat-sidenav-content>
        <mat-sidenav mode="over" position="end" [opened]="isEditMode">
          <mat-accordion>
            <!--Available sections here-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Sections
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item *ngFor="let section of sectionDefinitions">
                  <mat-icon matListIcon>{{section.icon}}</mat-icon>
                  <h3 matLine> {{section.title}} </h3>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
            <!--Grid Options here-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Grid Options
                </mat-panel-title>
              </mat-expansion-panel-header>
              <lib-form #gridOptionsForm [model]="gridEditOptions"></lib-form>
              <div class="hbox">
                <button mat-button (click)="applyGridEditOptions()">Apply</button>
                <button mat-button (click)="resetGridEditOptions()">Reset</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-sidenav>
      </mat-sidenav-container>
      <div class="page-floating-button">
        <!--Floating Buttons Here-->
        <button mat-fab color="accent" (click)="toggleEditMode()">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>