<div class="page-header-bg primary-bgcolor">
</div>
<div class="page-sidebar-container">
  <div class="page-leftbar"
    [ngClass]="{'page-sidebar-visible': isLeftbarVisible, 'page-sidebar-invisible': !isLeftbarVisible}">
    <div class="page-sidebar-header main">
    </div>
    <div class="page-sidebar-content">
      <!--Section Selection List Here-->
      <mat-nav-list>
        <mat-list-item *ngFor="let section of sections" (click)="selectSection(section)"
          [ngClass]="{'sidebar-nav-list-item': true, 'primary-bgcolor': section.active, 'main': section.active}">
          <a matLine>{{ section.title }}</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div class="page-sidebar-content page">
    <div class="page-header main">
      <!--Application Header Here-->
      <div class="page-header-inner mat-title">
        <button mat-icon-button (click)="isLeftbarVisible = !isLeftbarVisible;">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="vbox">
          <span class="mat-headline no-margin"><strong>
              <ng-content select="lib-page-title"></ng-content>
            </strong></span>
          <span class="mat-subheading-1 no-margin">
            <ng-content select="lib-page-sub-title"></ng-content>
          </span>
        </div>
      </div>
      <span class="page-spacer"></span>
    </div>
    <div class="page-content main-bgcolor mat-elevation-z4">
      <!--Section Toolbar Here-->
      <mat-toolbar class="page-toolbar secondary-bgcolor">
        <ng-container [ngTemplateOutlet]="selectedSection?.toolbar?.content"></ng-container>
      </mat-toolbar>
      <!--Section Content Here-->
      <ng-container [ngTemplateOutlet]="selectedSection?.content?.content"></ng-container>
    </div>
  </div>
  <div class="page-rightbar"
    [ngClass]="{'page-sidebar-visible': isRightbarVisible, 'page-sidebar-invisible': !isRightbarVisible}">
    <div class="page-sidebar-header main">
    </div>
    <div class="page-sidebar-content">
      <!--Detail panel Here-->
      <ng-container [ngTemplateOutlet]="selectedSection?.detail?.content"></ng-container>
    </div>
  </div>
</div>