@import "../../global";

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
}
.page-header-bg {
    position: absolute;
    background-color: $color-primary;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 128px;
}
.page-sidebar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 5;
    height: 100%;
}
.page-leftbar {
    flex-direction: column;
    width: 208px;
    min-width: 208px;
    max-width: 208px;
}
.page-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 128px;
    color: $color-primary-text;
}
.page-sidebar-header span {
    margin-bottom: 0;
    flex: 1 1 auto;
}
.page-sidebar-content {
    flex: 1 1 auto;
}
.page {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}
.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
}
.page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 8px 8px 0 0;
    background-color: $color-main;
}
.page-toolbar {
    position: relative;
    height: 64px;
    border-radius: 8px 8px 0 0;
}
/deep/ .page-list mat-table {
    background: none;
}
/deep/ .page-list mat-header-row {
    border-radius: 8px 8px 0 0;
    background-color: $color-secondary;
    height: 64px;
}