<div class="page-header-bg">
</div>
<div class="page-sidebar-container">
  <div class="page-leftbar">
    <div class="page-sidebar-header">
      <span class="mat-title">Filter</span>
      <button mat-icon-button>
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div class="page-sidebar-content">
      <!--Filter Panel Here-->
    </div>
  </div>
  <div class="page-sidebar-content page">
    <div class="page-header">
    </div>
    <div class="page-content mat-elevation-z4 page-list">
      <!--List Content Here-->
      <ng-content></ng-content>
    </div>
  </div>
</div>