<lib-page-section>
  <lib-page-section-toolbar>
    <div class="toolbar-button-main secondary-bgcolor">
      <button mat-fab color="accent" (click)="addFolder()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <ul class="document-breadcrumbs toolbar-spacer">
      <li><a (click)="onItemNavigate(-1)">
          <mat-icon>home</mat-icon>
        </a></li>
      <li *ngFor="let item of path; index as i">
        <a (click)="onItemNavigate(i)">{{item.name}}</a>
      </li>
    </ul>
    <mat-button-toggle-group name="viewStyle" [(value)]="viewType">
      <mat-button-toggle *ngFor="let type of viewTypes" [value]="type.value">
        <mat-icon>{{type.icon}}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </lib-page-section-toolbar>
  <lib-page-section-content>
    <ng-container [ngSwitch]="viewType">
      <ng-container *ngSwitchCase="documentViewType.Icon">
        <ng-container *ngTemplateOutlet="iconView"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="documentViewType.List">
        <ng-container *ngTemplateOutlet="listView"></ng-container>
      </ng-container>
    </ng-container>
    <a #downloadLink download="file" class="document-download-link"></a>
  </lib-page-section-content>
</lib-page-section>
<!-- Documents Icon View -->
<ng-template #iconView>
  <div appDocumentDropArea (fileDropped)="onFileDropped($event)" class="document-view-icon mat-body">
    <div *ngFor="let file of files$ | async" matRipple matRippleCentered="true" [matTooltip]="file.name"
      (click)="onSelectDocumentItem(file)" (dblclick)="onOpenDocumentItem(file)"
      [ngClass]="{'document-item': true, 'highlight-bgcolor': file.id == selectedFile?.id, 'document-selected': file.id == selectedFile?.id}">
      <mat-icon [ngClass]="{gold: file.isFolder}">{{file.isFolder ? 'folder' : 'description'}}</mat-icon>
      <span>{{file.name}}</span>
    </div>
  </div>
</ng-template>
<!-- Documents List View -->
<ng-template #listView>
  <mat-table [dataSource]="files$">
    <!-- Icon Column -->
    <ng-container matColumnDef="icon" stickyEnd>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon [ngClass]="{gold: element.isFolder}">{{element.isFolder ? 'folder' : 'description'}}</mat-icon>
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>
    <!-- Created On Column -->
    <ng-container matColumnDef="createdOn">
      <mat-header-cell *matHeaderCellDef>Created On</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.createdOn?.toDate() | date:'medium'}}</mat-cell>
    </ng-container>
    <!-- Last Changed On Column -->
    <ng-container matColumnDef="changedOn">
      <mat-header-cell *matHeaderCellDef>Last Changed On</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.changedOn?.toDate() | date:'medium'}}</mat-cell>
    </ng-container>
    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-template>
<!-- Documents Detail -->
<ng-template #documentDetail>
  <div *ngIf="selectedFile$ | async as detailFile" class="mat-typography document-section">
    <h2>Attributes</h2>
    <mat-divider></mat-divider>
    <table class="document-tags">
      <tr>
        <td><strong>Path:</strong></td>
        <td>{{detailFile.path}}</td>
      </tr>
      <tr>
        <td><strong>Created By:</strong></td>
        <td>{{detailFile.createdBy?.displayName}}</td>
      </tr>
      <tr>
        <td><strong>Created On:</strong></td>
        <td>{{detailFile.createdOn?.toDate() | date:'medium'}}</td>
      </tr>
      <tr>
        <td><strong>Last Changed By:</strong></td>
        <td>{{detailFile.changedBy?.displayName}}</td>
      </tr>
      <tr>
        <td><strong>Last Changed On:</strong></td>
        <td>{{detailFile.changedOn?.toDate() | date:'medium'}}</td>
      </tr>
    </table>
    <div class="hbox">
      <h2>Tags</h2>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field appearance="outline" class="document-tags">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of detailFile.tags" removable="true" (removed)="removeTag(detailFile, tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          matChipInputAddOnBlur="true" (matChipInputTokenEnd)="addTag(detailFile, $event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
</ng-template>