:host {
    flex: 1 1 auto;
    display: flex;
}
.document-content {
    flex: 1 1 auto;
    display: flex;
}
.document-breadcrumbs {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding-left: 8px;
}
.document-breadcrumbs div {
    display: flex;
}
.document-breadcrumbs div a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 5px 0 5px;
}
.document-breadcrumbs div a:hover {
    text-decoration: underline;
}
.document-breadcrumbs div:last-child a:hover {
    text-decoration: none;
}
.document-breadcrumbs div:last-child a {
    cursor: default;
}
.document-drop-target {
    border: 2px dashed black;
}
.document-download-link {
    display: none;
}
.document-view-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}
.document-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    user-select: none;
    width: 94px;
}
.document-item mat-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
}
.document-item span {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100%;
    width: 0;
}
.document-selected {
    border: rgba(1, 1, 1, 0.1) solid 1px;
}
.document-section {
    padding: 20px 20px 20px 0;
}
.document-section h2 {
    flex: 1 1 auto;
    margin: 16px 0 0 0;
}
.document-tags {
    width: 100%;
    border-spacing: 0 1em;
}