<lib-page-section>
  <lib-page-section-toolbar>
    <div class="toolbar-button-main secondary-bgcolor">
      <button mat-fab color="accent" (click)="addFolder()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <ul class="document-breadcrumbs toolbar-spacer">
      <li><a (click)="onItemNavigate(-1)">
          <mat-icon>home</mat-icon>
        </a></li>
      <li *ngFor="let item of path; index as i">
        <a (click)="onItemNavigate(i)">{{item.name}}</a>
      </li>
    </ul>
    <mat-button-toggle-group name="viewStyle" [(value)]="viewType">
      <mat-button-toggle *ngFor="let type of viewTypes" [value]="type.value">
        <mat-icon>{{type.icon}}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </lib-page-section-toolbar>
  <lib-page-section-content>
    <ng-container [ngSwitch]="viewType">
      <ng-container *ngSwitchCase="documentViewType.Icon">
        <ng-container *ngTemplateOutlet="iconView"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="documentViewType.List">
        <ng-container *ngTemplateOutlet="listView"></ng-container>
      </ng-container>
    </ng-container>
    <a #downloadLink download="file" class="document-download-link"></a>
  </lib-page-section-content>
</lib-page-section>
<!-- Documents Icon View -->
<ng-template #iconView>
  <div appDocumentDropArea (fileDropped)="onFileDropped($event)" class="document-view-icon mat-body">
    <button mat-flat-button *ngFor="let file of files$ | async" (click)="onSelectDocumentItem(file)">
      <div class="document-item" [matTooltip]="file.name" (dblclick)="onOpenDocumentItem(file)">
        <mat-icon [ngClass]="{gold: file.isFolder}">{{file.isFolder ? 'folder' : 'description'}}</mat-icon>
        <span>{{file.name}}</span>
      </div>
    </button>
  </div>
</ng-template>
<!-- Documents List View -->
<ng-template #listView>
  <mat-list>
    <mat-list-item *ngFor="let file of files$ | async" (dblclick)="onOpenDocumentItem(file)">
      <mat-icon [ngClass]="{gold: file.isFolder}">{{file.isFolder ? 'folder' : 'description'}}</mat-icon>
      <h4 mat-line> {{file.name}} </h4>
      <p mat-line> {{file.description}} </p>
    </mat-list-item>
  </mat-list>
</ng-template>
<!-- Documents Detail -->
<ng-template #documentDetail>
  <div *ngIf="selectedFile$ | async as detailFile" class="mat-typography document-section">
    <h2>Attributes</h2>
    <mat-divider></mat-divider>
    <table class="document-tags">
      <tr>
        <td><strong>Path:</strong></td>
        <td>{{detailFile.path}}</td>
      </tr>
      <tr>
        <td><strong>Created By:</strong></td>
        <td>{{detailFile.createdBy?.displayName}}</td>
      </tr>
      <tr>
        <td><strong>Created On:</strong></td>
        <td>{{detailFile.createdOn?.toDate() | date:'medium'}}</td>
      </tr>
      <tr>
        <td><strong>Last Changed By:</strong></td>
        <td>{{detailFile.changedBy?.displayName}}</td>
      </tr>
      <tr>
        <td><strong>Last Changed On:</strong></td>
        <td>{{detailFile.changedOn?.toDate() | date:'medium'}}</td>
      </tr>
    </table>
    <div class="hbox">
      <h2>Tags</h2>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field appearance="outline" class="document-tags">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of detailFile.tags" removable="true" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          matChipInputAddOnBlur="true" (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
</ng-template>