<div class="comp-fab">
    <button mat-fab color="accent" (click)="uploadInput.click()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="section-bar">
    <div class="nav-list mat-subheading-2 no-margin">
        <a (click)="onItemNavigate(-1)" class="cursor item">
            <mat-icon>home</mat-icon>
        </a>
        <div *ngFor="let item of filePath; index as i" class="item">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <a (click)="onItemNavigate(i)" class="cursor">{{item.name}}</a>
        </div>
    </div>
</div>
<input #uploadInput hidden type="file" (change)="onFileSelected()" />
<a #downloadLink download="file" class="hidden"></a>
<ng-content select="app-comp-ext"></ng-content>
<mat-table [dataSource]="records$" droppable="true" (droppped)="onFileDropped($event)">
    <ng-container *ngFor="let column of columns" matColumnDef="{{column.field}}">
        <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngSwitch]="column.type">
            <mat-icon *ngSwitchCase="columnType.Icon">{{element[column.field]}}</mat-icon>
            <mat-chip-list *ngSwitchCase="columnType.Chips">
                <mat-chip *ngFor="let value of element[column.field]">
                    {{value}}
                </mat-chip>
            </mat-chip-list>
            <span *ngSwitchDefault>{{element[column.field]}}</span>
        </mat-cell>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button *ngFor="let column of actionColumns" mat-button (click)="onAction(column.action, element)">
                <mat-icon *ngIf="column.icon">{{column.icon}}</mat-icon> {{column.label}}
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" class="list-row" matRipple
        (click)="onOpenDocumentItem(row)">
    </mat-row>
</mat-table>
<div class="section-bar">
    <button mat-icon-button (click)="addFolder()">
        <mat-icon>create_new_folder</mat-icon>
    </button>
</div>