<app-dashboard-page>
  <!--Tile Instances-->
  <app-dashboard-page-tile icon="not_interested" title="Welcome" description="Second" definitionId="second" width="3"
    height="1">
  </app-dashboard-page-tile>
  <app-dashboard-page-tile icon="question_answer" title="Collaborations" description="My collaborations"
    definitionId="trendCollaborations" width="3" height="1"
    [context]="{unit: 'days', startOffset: '0', endOffset: '7'}">
  </app-dashboard-page-tile>
  <app-dashboard-page-tile icon="comment" title="Posts" description="My posts" definitionId="trendPosts" width="3"
    height="1" [context]="{unit: 'days', startOffset: '0', endOffset: '7'}">
  </app-dashboard-page-tile>
  <app-dashboard-page-tile icon="insert_drive_file" title="Documents" description="My documents"
    definitionId="trendDocuments" width="3" height="1" [context]="{unit: 'days', startOffset: '0', endOffset: '7'}">
  </app-dashboard-page-tile>
  <app-dashboard-page-tile icon="not_interested" title="Posts" description="All posts in my collaborations"
    definitionId="posts" width="4" height="4">
  </app-dashboard-page-tile>
  <app-dashboard-page-tile icon="question_answer" title="Collaborations" description="Collaborations by Users"
    definitionId="collaborationsByUser" [context]="{seriesId: 'createdByUid'}" width="4" height="4">
  </app-dashboard-page-tile>
  <app-dashboard-page-tile icon="question_answer" title="Collaborations (Change Management)"
    description="Collaborations by status" definitionId="collaborationByStatus.changeManagement"
    [context]="{seriesId: 'status'}" width="4" height="4">
  </app-dashboard-page-tile>
  <!--Tile definitions-->
  <app-tile-base id="first">
  </app-tile-base>
  <app-tile-text id="second">
    Hello World !!!
  </app-tile-text>
  <app-tile-list id="posts" [dataSet]="{entityPath: ''}">
    <div *appTileListTemplate="let collaboration" class="vbox">
      <span>{{collaboration.name}}</span>
    </div>
  </app-tile-list>
  <app-tile-trend id="trendCollaborations" [dataSet]="{entityPath: ''}">
  </app-tile-trend>
  <app-tile-trend id="trendPosts" [dataSet]="{entityPath: '/posts'}">
  </app-tile-trend>
  <app-tile-trend id="trendDocuments" [dataSet]="{entityPath: '/documents'}">
  </app-tile-trend>
  <app-tile-chart id="collaborationsByUser" [dataSet]="{entityPath: '', joinBy: {createdByUid: 'users'}}">
    <app-tile-chart-series id="createdByUid" label="User" groupBy="createdByUid.displayName">
    </app-tile-chart-series>
  </app-tile-chart>
  <app-tile-chart *ngFor="let collaborationType of collaborationTypes$ | async"
    [id]="'collaborationByStatus.'+collaborationType.name" [dataSet]="{entityPath: ''}">
    <app-tile-chart-series *ngFor="let status of collaborationType.statuses$ | async" [id]="status.name"
      [label]="status.description" [groupBy]="'status.'+status.name">
    </app-tile-chart-series>
  </app-tile-chart>
</app-dashboard-page>