/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "global";

/* Toolbar classes */
.toolbar-spacer {
    flex: 1 1 auto;
}
.toolbar-button-main {
    position: absolute;
    top: -50%;
}

/* Layout classes */
.vbox {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.hbox {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.anchor {
    position: relative;
}
.spacer {
    flex: 1 1 auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: row;
}


/* Decoration */
.drop-target {
    border: 2px dashed black;
}
.no-background {
    background: none;
}
.cursor {
    cursor: pointer;
}
/* Global classes because of view encapsulation issues */
.sidebar-nav-list-item {
    border-radius: 0px 24px 24px 0px;
}
.sidebar-nav-list-item .mat-list-item-ripple {
    border-radius: 0px 24px 24px 0px;
}
.no-hint .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
}

/* Color classes */
.primary {
    color: $color-primary;
}
.primary-bgcolor {
    background-color: $color-primary;
}
.accent {
    color: $color-accent;
}
.warn {
    color: $color-warn;
}
.gold {
    color: $color-gold;
}
.disabled {
    color: $color-disabled;
}
.disabled-bgcolor {
    background-color: $color-disabled;
}
.disabled-border {
    border-color: $color-disabled;
}
.main {
    color: $color-main;
}
.main-bgcolor {
    background-color: $color-main;
}
.secondary-bgcolor {
    background-color: $color-secondary;
}
.highlight-bgcolor {
    background-color: $color-highlight;
}

/* Spacing classes */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}