@import "../../global";

:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

mat-sidenav-container {
    flex: 1 1 auto;
}

mat-sidenav {
    background-color: $color-shell;
    color: $color-shell-text;
    border: 0;
}

mat-toolbar {
    z-index: 5;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 0;
}
.app-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.app-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 64px;
    padding-bottom: 64px;
}

.app-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.app-item mat-icon {
    padding: 20px;
}
.app-item .left {
    padding: 20px 0px 20px 20px;
}
.app-item .right {
    padding: 20px 20px 20px 0px;
}
.app-user mat-icon {
    position: absolute;
    bottom: -32px;
    background-color: $color-shell;
    border-radius: 50%;
    padding: 20px;
}
.app-item * {
    pointer-events: none;
    user-select: none;
}

.app-panel-min .app-item span {
    display: none;
}
.app-panel-min .app-user span {
    display: none;
}

.app-item-active {
    border-radius: 20px 0 0 20px;
    background-color: $color-background;
    color: $color-shell;
    z-index: 2;
    overflow: visible;
}
.app-item-active::before,.app-item-active::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: $color-shell;
    z-index: 3;
}
.app-item-active::before {
    top: -20px;
    border-radius: 0 0 20px 0;
}
.app-item-active::after {
    bottom: -20px;
    border-radius: 0 20px 0 0;
}
.app-item-active .app-item-decorator {
    background-color: $color-background;
    position: absolute;
    right: 0;
    width: 20px;
    top: -20px;
    bottom: -20px;
    z-index: 2;
}

.app-conent-header {
    display: flex;
    flex-direction: column;
}

.app-content {
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    height: 100%;
}