<mat-sidenav-container autosize>
    <mat-sidenav opened mode="side" position="start" [ngClass]="{'app-panel-min':isPanelMin}">
        <div class="app-header mat-title">
            <div matRipple (click)="isPanelMin = !isPanelMin" class="app-item">
                <span class="spacer left">Applications</span>
                <mat-icon>menu</mat-icon>
            </div>
        </div>
        <div class="app-user">
            <span class="mat-body">{{auth.currentUserData.displayName}}</span>
            <span class="mat-caption">{{auth.currentUserData.email}}</span>
            <mat-icon>account_circle</mat-icon>
        </div>
        <div class="app-container mat-body">
            <div matRipple *ngFor="let app of apps" (click)="openApplicationPath(app.path)"
                [ngClass]="{'app-item':true, 'app-item-active':app.active}">
                <mat-icon>{{app.icon}}</mat-icon>
                <span class="spacer right">{{app.label}}</span>
                <!--TODO: This is screwing my ripple effect-->
                <div class="app-item-decorator"></div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="app-content">
            <mat-toolbar class="mat-elevation-z2">
                <div class="app-conent-header toolbar-spacer">
                    <span class="mat-headline no-margin">{{this.srv.title}}</span>
                    <span class="mat-subheading-1 no-margin">{{this.srv.subtitle}}</span>
                </div>
                <button mat-icon-button (click)="openNotificationPanel()">
                    <mat-icon [matBadge]="notificationsCount" matBadgeColor="warn">notifications</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="accountMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #accountMenu="matMenu">
                    <button mat-menu-item (click)="logoff()">Logoff</button>
                </mat-menu>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
    <mat-sidenav [(opened)]="isRightPanelVisible" mode="over" position="end">
        <mat-accordion>
            <!--Notifications-->
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    Notifications
                </mat-expansion-panel-header>
                <ul class="shell-notif-list">
                    <li *ngFor="let notif of notifications$ | async" class="mat-typography">
                        <div class="vbox">
                            <mat-icon mat-list-icon>account_circle</mat-icon>
                        </div>
                        <div class="vbox">
                            <span class="mat-title">{{notif.who?.displayName}}</span>
                            <span class="mat-small">{{notif.collaborationId}}</span>
                            <span class="mat-body">{{notif.objId}}</span>
                        </div>
                        <div class="vbox center">
                            <span class="mat-small">{{notif.when.toDate() | amTimeAgo}}</span>
                            <button mat-icon-button (click)="openNotificationPanel()">
                                <mat-icon>{{notif.whatIcon}}</mat-icon>
                            </button>
                        </div>
                    </li>
                </ul>
                <div>
                </div>
                <!--<mat-list>
                    <mat-list-item *ngFor="let notif of notifications$ | async">
                        <mat-icon mat-list-icon>account_circle</mat-icon>
                        <h4 mat-line>{{notif.who?.displayName}}</h4>
                        <p mat-line>{{notif.when.toDate() | amTimeAgo}}</p>
                        <mat-icon mat-list-icon>{{notif.whatIcon}}</mat-icon>
                    </mat-list-item>
                </mat-list>-->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
</mat-sidenav-container>